#progressLayout {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
    position: fixed;
    top: 0;
    z-index: 10000000;
    background: rgba(218, 217, 242, 0.97);
    -webkit-filter: blur(40px);
    border-radius: 5px;
}

#printProgress {
    width: 40%;
    position: fixed;
    z-index: 10000001;
    -webkit-filter: blur(1px);
    top: 44%;
    left: 30%;
}

#printWrapper .tbTile {
    width: 174px !important;
    height: 99px;
    border: 2px solid #f2cb1d;
    border-left: 6px solid #f2cb1d;
    float: left;
    padding: 5px;
    margin: 1px;
    position: relative;
}

.tbTile .tbTileContent {
    border: none !important;
    border-width: 0 !important;
}

#printWrapper .witTitle {
    height: 51px;
    min-height: 51px;
    overflow: hidden;
}

#printWrapper .witExtra {
    width: 160px;
    position: absolute;
    bottom: 0;
    margin: 0;
}

#printWrapper .witAssignedTo .onTileEditTextDiv {
    height: 20px;
}

#printWrapper .witRemainingWork {
    float: right;
}

body.printView .main-container {
    display: none !important;
}

@media print {
    @page {
        size: auto;
        margin: 20px;
    }

    #goBack {
        display: none;
    }
}