.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}
#printWrapper .tbTile {
    width: 174px !important;
    height: 99px;
    border: 2px solid #f2cb1d;
    border-left: 6px solid #f2cb1d;
    float: left;
    padding: 5px;
    margin: 1px;
    position: relative;
}

.tbTile .tbTileContent {
    border: none !important;
    border-width: 0 !important;
}

#printWrapper .witTitle {
    height: 51px;
    min-height: 51px;
    overflow: hidden;
}

#printWrapper .witExtra {
    width: 160px;
    position: absolute;
    bottom: 0;
    margin: 0;
}

#printWrapper .witAssignedTo {
    float: left;
}
#printWrapper .witAssignedTo .onTileEditTextDiv {
    height: 20px;
    width: 110px;
}

#printWrapper .witRemainingWork {
    float: right;
}

body.printView .main-container {
    display: none !important;
}

@media print {
    @page {
        size: auto;
        margin: 20px;
    }

    #goBack {
        display: none;
    }
}