body {
  margin: 0;
  -webkit-user-select: none;
}
ul {
    padding-left: 5px;
    list-style: none;
}
input:checked+label {
  -webkit-box-shadow: #686868 0px 0px 34px -1px inset;
}
li {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  font-size: 15px;
  color: #3F51B5;
  cursor: pointer;
}
label {
  cursor: pointer;
}
li.opener {
  font-weight: bold;
}
li.opener:before {
  content: '-';
}
li.opener.closed:before {
  content: '+';
}
li.opener.closed~* {
  display: none;
}
#queriesContainer {
  width: 300px;
  max-height: 300px;
  overflow: auto;
}
hr {
    clear: left;
}
button {
  background-color: #3F51B5;
  border-radius: 4px;
  color: #fff;
  margin: 2px 7px 7px 94px;
  padding: 10px 15px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  width: 112px;
}
.sub-option {
  padding-left: 10px;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #3F51B5;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}