body {
  margin: 0;
  -webkit-user-select: none;
}
ul {
    padding-left: 5px;
    list-style: none;
}
input:checked+label {
  -webkit-box-shadow: #686868 0px 0px 34px -1px inset;
}
li {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
li.opener {
  cursor: pointer;
  font-weight: bold;
}
li.opener:before {
  content: '-';
}
li.opener.closed:before {
  content: '+';
}
li.opener.closed~* {
  display: none;
}
#queriesContainer {
  width: 300px;
  height: 300px;
  overflow: auto;
}
hr {
    clear: left;
}
button {
  background-color: #337ab7;
  border-radius: 4px;
  color: #fff;
  display: inline;
  padding: 10px 15px;
  font-size: 15px;
  text-align: center;
  float: left;
  cursor: pointer;
  width: 111px;
}
.sub-option {
  padding-left: 10px;
}